* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    height: 100%;
    background-image: url('../img/dice-312621_640.webp');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 50% auto;
    font-family: 'Arial', sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    color: #333;
    position: relative;
}

#players {
    
    justify-content: space-evenly;
    width: 80%;
}

.player .label {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
}

#roll-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#roll-button:hover {
    background-color: #408543; 
}

#roll-result {
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); /* per centrare il risultato */
    padding: 15px 30px;
    
}